.contenido{
    margin-top: 5em;
    display: flex;
    
    justify-content: center;
}

.contenido-body{
    padding: 1em 1em 1em 1em;
    background: #fff;
    width: 80%;
    display: flex;
    justify-content: center;
}

